<h1>Bienvenue {{user.firstName}}, vous etes connecté en tant qu'administrateur</h1>
<div class="form-container">
    <h2>Ajouter un billet à la vente</h2>
    <form [formGroup]="billetForm" (ngSubmit)="addBillet()">
        <label for="sport-select">Sport:</label>
        <select id="sport-select" formControlName="sport">
        <option *ngFor="let sport of sportsList" [value]="sport.id">
            {{ sport.nomComplet }}
        </option>
    </select>

        <label for="location-select">Localisation:</label>
        <select id="location-select" formControlName="localisation">
        <option *ngFor="let city of cities | keyvalue" [value]="city.key">
            {{ city.value }}
        </option>
    </select>

        <label for="date-event">Date de l'événement:</label>
        <input id="date-event" type="date" formControlName="dateEvent" placeholder="Date de l'événement" />

        <label for="category-select">Catégorie:</label>
        <select id="category-select" formControlName="category">
        <option *ngFor="let category of categorys | keyvalue" [value]="category.key">
            {{ category.value }}
        </option>
    </select>

        <label for="status-select">Statut:</label>
        <select id="status-select" formControlName="statut">
        <option *ngFor="let statut of billetStatut | keyvalue" [value]="statut.key">
            {{ statut.value }}
        </option>
    </select>

        <button type="submit">Ajouter Billet</button>
    </form>

</div>

<div *ngIf="billets && billets.length > 0" class="billet-container">
    <div class="billet-header">
        <select [(ngModel)]="selectedSport" (ngModelChange)="filterBillets()">
            <option value="">Tous les sports</option>
            <option *ngFor="let sport of sportsList" [value]="sport.id">{{ sport.nomComplet }}</option>
          </select>

        <select [(ngModel)]="selectedCity" (ngModelChange)="filterBillets()">
            <option value="">Toutes les villes</option>
            <option *ngFor="let city of cities | keyvalue" [value]="city.key">{{ city.value }}</option>
          </select>
        <span class="header-item">Date</span>
        <span class="header-item">Catégorie</span>
        <span class="header-item">Statut</span>
        <span class="header-item">Action</span>
    </div>
    <div *ngFor="let billet of filteredBillets" class="billet-row">
        <div class="billet-data">{{ billet.sport }}</div>
        <div class="billet-data">{{ billet.localisation }}</div>
        <div class="billet-data">{{ billet.dateEvent | date: 'mediumDate' }}</div>
        <div class="billet-data">{{ billet.category }}</div>
        <div class="billet-data">
            <select [(ngModel)]="billet.statut" class="form-control">
                <option *ngFor="let statut of billetStatut | keyvalue" [value]="statut.key">
                    {{ statut.value }}
                </option>
        </select>
        </div>
        <div class="billet-data">
            <button class=" btn" (click)="updateBillet(billet)">Modifier statut</button>
        </div>
    </div>
</div>