<app-header></app-header>
<div *ngIf="showAlert" class="alert" [class]="alertType === 'success' ? 'alert-success' : 'alert-danger'" role="alert">
    {{ alertMessage }}
</div>
<div class="body-container">

    <div *ngIf="isLoginFormVisible" class="form-container">
        <h2>Se connecter</h2>
        <form [formGroup]="loginForm" (ngSubmit)="signin()">
            <label for="email" class="form-label">Email</label>
            <input type="email" formControlName="email" placeholder="Email" class="form-control">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" formControlName="password" placeholder="Mot de passe" class="form-control">
            <div class="btn-container">
                <button type="submit" class="btnAction btn btn-primary">Se connecter</button>
            </div>
        </form>
        <div class="btn-container">
            <button (click)="toggleForm()" class="btn btn-light">Pas encore de compte</button>
        </div>
    </div>

    <div *ngIf="!isLoginFormVisible" class="form-container">
        <h2>S'inscrire</h2>
        <form [formGroup]="registerForm" (ngSubmit)="signup()">
            <div>
                <label for="newFirstName" class="form-label">Prénom</label>
                <input type="text" formControlName="newFirstName" placeholder="Prénom" class="form-control">
                <div *ngIf="registerForm.get('newFirstName')?.touched && registerForm.get('newFirstName')?.hasError('required')" class="errorRegister">
                    Le prénom est requis.
                </div>
            </div>
            <div>
                <label for="newLastName" class="form-label">Nom</label>
                <input type="text" formControlName="newLastName" placeholder="Nom" class="form-control">
                <div *ngIf="registerForm.get('newLastName')?.touched && registerForm.get('newLastName')?.hasError('required')" class="errorRegister">
                    Le nom est requis.
                </div>
            </div>
            <div>
                <label for="newUsername" class="form-label">Email</label>
                <input type="email" formControlName="newUsername" placeholder="Email" class="form-control">
                <div *ngIf="registerForm.get('newUsername')?.touched && registerForm.get('newUsername')?.errors?.['required']" class="errorRegister">
                    Email est requis.
                </div>
                <div *ngIf="registerForm.get('newUsername')?.touched && registerForm.get('newUsername')?.errors?.['email']" class="errorRegister">
                    Format d'email invalide.
                </div>
            </div>
            <div>
                <label for="newPassword" class="form-label">Mot de passe</label>
                <input type="password" formControlName="newPassword" placeholder="Mot de passe" class="form-control">
                <div *ngIf="registerForm.get('newPassword')?.touched && registerForm.get('newPassword')?.errors?.['required']" class="errorRegister">
                    Mot de passe est requis.
                </div>
                <div *ngIf="registerForm.get('newPassword')?.dirty && registerForm.get('newPassword')?.errors?.['passwordStrength']" class="errorRegister">
                    <div *ngIf="!registerForm.get('newPassword')?.errors?.['passwordStrength'].hasUpperCase">Le mot de passe doit contenir au moins une majuscule.</div>
                    <div *ngIf="!registerForm.get('newPassword')?.errors?.['passwordStrength'].hasLowerCase">Le mot de passe doit contenir au moins une minuscule.</div>
                    <div *ngIf="!registerForm.get('newPassword')?.errors?.['passwordStrength'].hasNumeric">Le mot de passe doit contenir au moins un chiffre.</div>
                    <div *ngIf="!registerForm.get('newPassword')?.errors?.['passwordStrength'].hasSpecialCharacter">Le mot de passe doit contenir au moins un caractère spécial.</div>
                    <div *ngIf="!registerForm.get('newPassword')?.errors?.['passwordStrength'].hasMinimumLength">Le mot de passe doit comporter au moins 8 caractères.</div>
                </div>
            </div>
            <div>
                <label for="newBirthDate" class="form-label">Date de naissance</label>
                <input type="date" formControlName="newBirthDate" placeholder="Date de naissance" class="form-control">
                <div *ngIf="registerForm.get('newBirthDate')?.dirty && registerForm.get('newBirthDate')?.errors?.['required']" class="errorRegister">
                    Date de naissance est requise.
                </div>
                <div *ngIf="registerForm.get('newBirthDate')?.dirty && registerForm.get('newBirthDate')?.errors?.['minAge']" class="errorRegister">
                    Vous devez avoir au moins 18 ans.
                </div>
            </div>
            <div class="form-check checkCgu">
                <input type="checkbox" id="cguCheckbox" formControlName="acceptTerms" class="form-check-input">
                <label for="cguCheckbox" class="form-check-label">J'accepte les <a [routerLink]="['/cgu']">Conditions Générales d'Utilisation</a> et les conditions générales de vente</label>
            </div>
            <div *ngIf="registerForm.get('acceptTerms')?.dirty && registerForm.get('acceptTerms')?.errors?.['required']" class="errorRegister">
                Les conditions doivent être acceptées.
            </div>
            <div class="btn-container">
                <button type="submit" class="btnAction btn btn-primary">Créer son compte</button>
                <button (click)="toggleForm()" class="btn btn-light">J'ai un compte</button>
            </div>
        </form>
    </div>
</div>
<app-footer [class.sticky-footer]="isFooterSticky"></app-footer>