<nav class="navbar">
    <div class="container">
        <div class="border-menu"></div>
        <div class="logo">
            <img src="{{ logoAffiche }}" alt="Logo" (click)="goHome()">
        </div>
        <div class="links border-menu">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/boutique" aria-current="page">Boutique</a>
                </li>
                <li class="nav-item" *ngIf="!isUserLogged">
                    <a class="nav-link" routerLink="/connexion" aria-current="page">Connexion</a>
                </li>
                <li class="nav-item dropdown" *ngIf="isUserLogged">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <span class="material-symbols-outlined">account_circle</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/profil">Profil</a></li>
                        <li><a class="dropdown-item" routerLink="/panier">Panier</a></li>
                        <li *ngIf="user && user.role === 'ADMIN'"><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li *ngIf="user && user.role === 'ADMIN'"><a class="dropdown-item" routerLink="/reservation">Verification de réservations</a></li>
                        <li><a class="dropdown-item" routerLink="/home" (click)="logout()" class="btn btn-danger">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>