.body-home {
    height: 880px;
    background-image: url(../../../assets/img/Paris2024-affiche1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 100px 0;
}

.container {
    font-family: 'Paris';
    display: flex;
    justify-content: center;
    align-items: center;
}

.chrono {
    width: 40%;
    text-align: center;
    padding-top: 1%;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.subtitle {
    margin-left: 3%;
    font-family: "Paris";
    font-size: 8em;
    color: white;
    font-weight: 800;
}