<div class="body-home">
    <app-header></app-header>
    <div class="container">
        <div class="chrono">
            <p>Décompte avant les Jeux {{ evenement }} de Paris 2024 :</p>
            <p>{{ jour }} Jours {{ heure }} Heures {{ minutes }} Minutes {{ seconds }} Secondes</p>
        </div>
    </div>

    <div class="subtitle">
        <div>Ouvrons</div>
        <div>grand les</div>
        <div>Jeux</div>
    </div>
    <qrcode [qrdata]="yourData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <app-footer></app-footer>
</div>