<div class="container mt-5">
    <div class="form-group">
        <label for="shortKeyInput">Entrez la clé courte</label>
        <input type="text" id="shortKeyInput" [(ngModel)]="shortKey" class="form-control" placeholder="Entrez la clé courte">
    </div>
    <button class="btn btn-primary mt-2" (click)="checkShortKey()">Vérifier la Réservation</button>

    <div *ngIf="alertMessage" class="alert" [ngClass]="isReservationValid ? 'alert-success' : 'alert-danger'">
        {{ alertMessage }}
    </div>
</div>