<div class="body-profil">
    <app-header></app-header>

    <div *ngIf="showAlert" class="alert alert-danger" role="alert">
        {{ alertMessage }}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loginAlertModal" tabindex="-1" aria-labelledby="loginAlertModalLabel" aria-hidden="true" *ngIf="showAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginAlertModalLabel">Attention</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ alertMessage }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="redirectToLogin()">Se connecter</button>>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="user bloc-partie">

            <div class="user-header">
                <h2>Profil utilisateur</h2>
                <button (click)="updateUser()" class="btn btn-success">Enregistrer</button>
            </div>

            <div>
                <label for="firstName">Prénom:</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName">
            </div>
            <div>
                <label for="lastName">Nom:</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName">
            </div>
            <div>
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" [(ngModel)]="user.username">
            </div>
            <div>
                <label for="birthDate">Date de naissance: {{user.birthDate }}</label>
            </div>
            <div>
                <label for="favouriteSport">Sport favori:</label>
                <select name="sports" id="favouriteSport" [(ngModel)]="user.favouriteSport">
                <option *ngFor="let sport of listSport" [value]="sport.id">{{ sport.nomComplet }}</option>
              </select>
            </div>
        </div>


        <!-- Adresse de facturation -->
        <div class="bloc-partie">
            <app-address-bloc [adressFacturation]="user.adressFacturation" (addAdress)="addAdressFacturation()" (deleteAdress)="deleteAdressFacturation()"></app-address-bloc>
        </div>
        <div class="bloc-partie">
            <app-bank-bloc [dataBank]="user.dataBank" (addDataBank)="addDataBank()" (deleteDataBank)="deleteDataBank()"> </app-bank-bloc>
        </div>

        <div class="bloc-partie">
            <h3>Vos billets</h3>
            <hr>
            <div *ngIf="user.wallet && user.wallet.length> 0">
                <!-- Affichage de la liste des billets -->
                <div *ngFor="let billet of user.wallet">
                    <input type="text" [(ngModel)]="billet.sport" placeholder="Sport">
                    <!-- Ajoutez les autres champs ici -->
                </div>
            </div>
        </div>
    </div>
</div>