.body-profil {
    background-image: url(../../../assets/img/Paris2024-affiche1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bloc-partie {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bloc-partie h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.btn .material-symbols-outlined {
    vertical-align: middle;
}

.btn-danger,
.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h3 {
    margin-bottom: 0;
}

.title-container>div {
    display: flex;
    gap: 10px;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bloc-supp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}