<app-header></app-header>
<div class="panier">
    <h2>Panier en cours</h2>
    <div *ngIf="panier && panier.length > 0; else emptyCart" class="panier-content">
        <div class="panier-items">
            <div *ngFor="let billet of panier" class="panier-item">
                <span>{{ billet.sport }} {{ billet.category }} - {{ billet.prix }} €</span>
                <span class="remove-item material-symbols-outlined" (click)="removeFromCart(billet)">delete</span>
            </div>
        </div>
        <div class="panier-total">
            <div>Nombre d'article: {{panier.length}}</div>
            <div class="total">Total : {{ totalPanier }} €</div>
        </div>
    </div>
    <ng-template #emptyCart>
        <div class="empty-cart">
            Votre panier est vide. Commencez à ajouter des billets!
            <button class="btn btn-primary" [routerLink]="['/boutique']">Boutique</button>
        </div>
    </ng-template>
</div>
<div class="utilisateur">
    <h2>Données utilisateur</h2>
    <div>
        <label for="firstName">Prénom :</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName">
    </div>
    <div>
        <label for="lastName">Nom :</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName">
    </div>
    <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username">
    </div>
</div>
<div class="dataBank">
    <h2>Données bancaires</h2>
    <div>
        <label for="numeroCarte">Numéro de carte :</label>
        <input type="text" id="numeroCarte" name="numberCard" [(ngModel)]="dataBanks.numberCard" placeholder="XXXX XXXX XXXX XXXX">
    </div>
    <div>
        <label for="dateCarte">Date :</label>
        <input type="text" id="dateCarte" name="dateClosed" [(ngModel)]="dataBanks.dateClosed" placeholder="MM/AA">
    </div>
    <div>
        <label for="cleCarte">Code de sécurité :</label>
        <input type="text" id="cleCarte" name="cvv" [(ngModel)]="dataBanks.cvv" placeholder="XXX">
    </div>
    <div>
        <input type="checkbox" id="savedData" [(ngModel)]="dataBanks.dataSaved">
        <label for="savedData">Je souhaite sauvegarder mes données bancaires.</label>
    </div>
</div>

<app-footer></app-footer>